pandas
numpy
openpyxl
matplotlib
seaborn
SQLAlchemy
pymysql
scikit-learn
xgboost
lightgbm
statsmodels
shap
optuna
joblib
mlflow
fastapi
uvicorn
PyYAML
jupyter
ipykernel
pytest
black
flake8
pyodbc
python-dotenv
Flask 
flask-cors
catboost